<div class="notification">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <figure class="image is-48x48 is-square">
          <img [src]="blogData.img" alt="" class="is-rounded" />
        </figure>
      </div>
      <div class="level-item">{{ blogData.username }}</div>
    </div>
  </div>
  <p class="is-size-4 title">{{ blogData.title }}</p>
  <p class="less-opacity">
    {{
      blogData.date.toLocaleString("default", { month: "short" }) +
        " " +
        blogData.date.getDate()
    }}
    .
    <span class="icon"><i class="fas fa-clock"></i></span>
    <span>2 min read</span>
  </p>
</div>

<br />
