<div
  class="hero is-fullheight"
  style="background-position: center; background-size: cover; min-height: 90vh"
>
  <div class="hero-body" style="backdrop-filter: brightness(0.3)">
    <div class="has-text-centered container">
      <div class="has-text-light">
        <p
          class="is-size-1 is-size-2-mobile has-text-weight-semibold is-uppercase"
          contenteditable="true"
          style="border: 2px solid rgba(17, 16, 16, 0.5)"
          #title
          (input)="handleTyping(title, 20)"
          (focusout)="handleFocusOut(title)"
          (focusin)="handleTyping(title, 20)"
        >
          Test title
        </p>
        <p
          class="is-size-4 is-size-5-mobile has-text-light less-opacity"
          contenteditable="true"
          style="border: 2px solid rgba(17, 16, 16, 0.5)"
          #subtitle
          (input)="handleTyping(subtitle, 20)"
          (focusout)="handleFocusOut(subtitle)"
          (focusin)="handleTyping(subtitle, 20)"
        >
          test Subtitle
        </p>
        <p class="is-size-6" style="margin-top: 20px">
          <span class="icon"><i class="fas fa-clock"></i></span>
          <span id="time"></span>
          <span>2 minute read</span>
          <span class="icon is-size-7"><i class="fas fa-circle"></i></span>
          <span>by some dem author </span>
        </p>
      </div>
    </div>
  </div>
  <div class="hero-foot has-background-light"></div>
</div>
<div class="columns is-centered is-mobile">
  <div class="column section is-11">
    <div class="has-text-dark" id="editor">
      <quill-editor #content></quill-editor>
    </div>
  </div>
</div>
<div class="section has-text-centered">
  <a (click)="onSubmit()" class="button is-large is-link is-outlined is-light">
    <span class="icon"><i class="fas fa-plus"></i></span
    ><span>Create New Blog</span>
  </a>
</div>
