/* You can add global styles to this file, and also import other style files */
.button {
  transition: 0.2s;
}
.less-opacity {
  opacity: 0.6;
}
img {
  background-size: cover;
  object-fit: cover;
  background-position: center;
}

.navbar {
  z-index: 100;
  transition: background-color 0.4s, padding 0.4s;
}
a {
  transition: 0.2s;
}

.ql-toolbar {
  border: 2px solid rgba(0, 0, 0, 0.534) !important;
  border-radius: 5px 5px 0px 0px;
  z-index: 10;
  width: 100%;
  background-color: rgb(216, 216, 216);
  top: 10px;
  position: sticky;
}
button {
  transition: 0.2s;
}

.ql-editor {
  min-height: 40vh;
  border: 1px solid black;
  border-top: 0pxq;
}
.column_img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.hover_scale {
  border-radius: 3px;
}
.hover_scale,
.hover_scale_column {
  transition: 0.2s;
  /* border-radius: 5px; */
}
.hover_scale:hover {
  /* transform: scale(1.03); */
  cursor: pointer;
  border: 1px solid #333333;
  box-shadow: 2px 2px #333333;
}
.hover_scale:hover .hover_scale_column {
  background-color: rgba(119, 119, 119, 0.356) !important;
}
