<div class="columns hover_scale is-mobile" (click)="onClick()">
  <div class="column" style="padding: 0">
    <div>
      <figure class="image is-square">
        <img [src]="blogData.img" alt="" class="" />
      </figure>
    </div>
  </div>
  <div class="column is-9 has-background-light">
    <div class="level is-mobile" style="margin-bottom: 0px">
      <div class="level-left">
        <div class="level-item">
          <figure class="image is-square is-32x32">
            <img [src]="blogData.img" alt="" class="is-rounded" />
          </figure>
        </div>
        <div class="level-item">{{ blogData.username }}</div>
      </div>
    </div>
    <p class="is-size-4 is-size-6-mobile has-text-weight-bold has-text-black">
      {{ blogData.title }}
    </p>
    <p class="is-size-5 is-hidden-mobile subtitle">
      {{ blogData.subtitle }}
    </p>
    <p class="less-opacity is-size-7">
      {{ blogData.date }}.
      <span class="icon"><i class="fas fa-clock"></i></span>
      <span>2 min read</span>
    </p>
  </div>
</div>
